@import '../../variables';

.map{
    @include flex();
    width: 100%;
    height: 531px;
    @media only screen and (max-width: 375px){
        width: 100%;
        height: 340px;
        background: #232323;
    }
    

    &--img{
        width: 64.23%;
        max-width: 925px;
        height: 465px;
        @media only screen and (max-width: 960px){
            width: 70%;
            height: auto;
        }
        @media only screen and (max-width: 375px){
            width: 95.23%;
            height: 255px;
        }
    }

    &--source-img{
        width: 100%;
        height: 100%;
    }
}