.client {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 30.42%;
    height: 455px;
}

.client--summary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 94.68%;
    height: 428px;
    padding-left: 20px;
    background: #fff;
}

@media only screen and (max-width: 960px) {
    .client--summary {
        width: 100%;
        padding-left: 0;
    }
}

.client--info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 110px;
}

.client--photo {
    display: block;
    width: 76px;
    height: 76px;
    margin-right: 23px;
    border-radius: 50%;
}

@media only screen and (max-width: 960px) {
    .client--photo {
        width: 46px;
        height: 46px;
        font-size: 13px;
        line-height: auto;
    }
}

.client--name {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #181818;
}

@media only screen and (max-width: 960px) {
    .client--name {
        width: 90%;
        font-size: 15px;
        line-height: auto;
    }
}

.client--gratitude {
    width: 86%;
    height: 221px;
    font-family: "FuturaBookC";
    font-size: 15px;
    line-height: 180%;
    color: #959595;
}

@media only screen and (max-width: 960px) {
    .client--gratitude {
        width: 90%;
        font-size: 13px;
        line-height: auto;
    }
}

.client--order {
    position: absolute;
    top: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 78.125%;
    height: 54.03px;
    background: #E3B873;
    -webkit-box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
    box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
}

.client--order-size {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 135.09px;
    height: 100%;
    border-right: 0.75px solid #FFFFFF;
}

.client--repair-time {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 158.66px;
    height: 100%;
}

.client--details {
    margin-left: 15px;
    font-family: "Yeseva One";
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
}