@import '../../variables';

.design-projects{
    @include flex-column();
    width: 100%;
    height: 612px;
    background: $main-bg2;

    @media only screen and (max-width: 375px){
        @include flex-column(space-around);
        width: 100%;
        height: 1900px;
        padding-top: 120px;
        background: $mobile-bg;
    }
    
    &--header{
        @include flex-column();
        margin-top: 112px;

        width: 17.84%;
        height: 67px;

        @media only screen and (max-width: 768px){
            @include flex-column(space-around);
            width: 100%;
        }
        @media only screen and (max-width: 375px){
            @include flex-column(space-around);
            width: 100%;
        }

    }

    &--headline{
        font-family: Yeseva One;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
        text-transform: uppercase;

        color: #181818;
        @media only screen and (max-width: 375px){
            @include flex-column(space-around);
            font-size: 22px;
            line-height: 138.6%;
            color: #fff;
        }
        
    }

    &--description{
        width: 52.98%;
        max-width: 763px;
        height: 57px;

        font-family: "FuturaBookC";
        font-size: 20px;
        line-height: 27px;
        text-align: center;

        color: #363636;
        @media only screen and (max-width: 768px){
            width: 100%;
            height: auto;
            margin-bottom: 5px;
        }
        @media only screen and (max-width: 375px){
            @include flex-column(space-around);
            width: 95.23%;
            height: 1507px;
            font-size: 15px;
            line-height: 135.84%;
            color: #fff;
        }
    }

    &--example{
        @media only screen and (max-width: 768px){
            @include flex();
            width: 98%;
            height: auto;
        }
        @media only screen and (max-width: 375px){
            @include flex-column(space-between);
            width: 95.23%;
            height: 1739px;
        }
        @include flex(space-between, $start);
        width: 85.83%;
        height: 280px;
    }
}