@import '../variables';

.hf-content{
    @include flex(space-between);

    width: 100%;
    max-width: 1256px;
    height: 37px;


    font-family: "FuturaDemiC";
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;

    color: #E3B873;

    @media only screen and (max-width: 375px){
        width: 95.23%;
        font-size: 12px;
    }


    &--button{
        @media only screen and (max-width: 768px){
            display: none;
        }
        width:12.81%;
        max-width: 161px;
        min-width: 95px;
        height: 37px;
    }
}

.navigation{
    @media only screen and(max-width: 375px){
        display: none;
    }
    @media only screen and (max-width: 768px){
        flex-grow: 1;
        margin: 0 12px;
    }
    width: 46.33%;
    &--menu{
        @include flex(space-between);
        
    }
    &--link{
        color: #fff;
        text-decoration: none;
    }
}

.phone{

    &--link{
        font-family: "FuturaDemiC";
        font-size: 14px;
        line-height: 16px;
        text-align: right;
        text-decoration-line: underline;

        color: #E3B873;

        @media only screen and(max-width: 375px){
            font-family: "FuturaDemiC";
            font-size: 12px;
            line-height: 14px;
            text-align: right;
            text-decoration-line: none;

            color: #FFFFFF;
        }
    }
}